@import "vars";
.subscribe {
  padding: 35px 0 56px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: 494px;
    font-weight: 600;
    font-size: 55px;
    line-height: 83px;
    margin-bottom: 60px;
  }

  &__form {
    border-radius: 35px;
    background: linear-gradient(0deg, #fff 0%, #fff 100%), #c4c4c4;
    padding: 12px 15px 12px 46px;
    width: 800px;
    display: flex;
    justify-content: space-between;
  }

  &__form-input {
    border: none;
    width: 400px;
    font-size: 24px;
    line-height: 36px;
    outline: none;
    &::placeholder {
      font-size: 24px;
      line-height: 36px;
      color: var(--secondary);
    }
  }

  &__form-btn {
    padding: 34px;
    width: 300px;
    border-radius: 35px;
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
  }
}

@media (max-width: 840px) {
  .subscribe {
    padding: 35px 0;
    &__title {
      font-size: 44px;
      line-height: 60px;
    }

    &__form {
      width: 100%;
      background: none;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      padding: 12px 15px;
    }

    &__form-input {
      padding: 30px;
      border-radius: 40px;
    }

    &__form-btn {
      padding: 20px;
      width: 220px;
      font-size: 22px;
      line-height: 30px;
    }
  }
}

@media (max-width: 480px) {
  .subscribe {
    &__title {
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 30px;
    }
    &__form {
      width: 100%;
      padding: 12px 12px;
    }

    &__form-input {
      width: 100%;

      &::placeholder {
        font-size: 18px;
      }
    }

    &__form-btn {
      padding: 16px;
      width: 180px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
